@font-face {
    font-family: Roboto;
    src: url(../Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}

/* Animation scintillement */
@keyframes twinkle {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes translate {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100vw);
    }
}


body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    background: #1B263B;
    background-size: contain;
}

/* Conteneur des étoiles */
.stars {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    z-index: -1;
}

/* Une étoile */
.star {
    position: absolute;
    background: rgb(251, 255, 0);
    border-radius: 50%;
    opacity: 0.8;
    animation: twinkle 2s infinite ease-in-out;
}


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header p {
    color: rgb(255, 255, 255);
    text-decoration: underline
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #C5283D;
    text-decoration: underline;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    color: green;
    text-decoration: underline;
}

.astrologie {
    width: 10%;
    display: block;
    margin: 1% auto;
}

main p {
    text-align: center;
    color: white;
    width: 50%;
    display: block;
    margin: 1% auto;
}

main a {
    text-align: center;
    color: white;
    width: 50%;
    display: block;
    margin: 1% auto;
}

li {
    text-align: center;
    color: white;
    width: 50%;
    display: block;
    margin: 1% auto;
}

button {
    background-color: #7B00FF;
    border-radius: 70px;
    display: block;
    margin: 1% auto;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 1%;
}

a {
    color: #ffffff;
    text-decoration: none;
    gap: 5%;
}

#reponse {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}

#carte {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    margin: 1% 10%;
    color: white;
    margin-top: 0%;
}

.carte_horoscope {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffd900;
    border: 1px solid black;
    border-radius: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carte_horoscope:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgb(255, 255, 255);
}



.carte_horoscope p {
    color: #7B00FF;
}

label {
    color: white;
}

.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid rgb(0, 140, 255);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 10% 0%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer p {
    color: #ffffff;
}

.logo {
    width: 5%;
}

.mention-legale {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat {
    width: 5%;
    animation-name: translate;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-timing-function: linear;
}

/* Responsive */


@media (max-width: 710px) {
    #carte {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    #carte {
        grid-template-columns: 1fr;
    }
}